.dash-container{
    padding: 1rem 2rem 0 2rem;
    display: flex;
    justify-content: space-between;
    align-content: space-between;
    background-color: #F2F7FF;
    box-shadow: 0 -1px 4px rgba(0, 0, 0, 0.25);

}

.dash-container main{
    width: 67%;
}
.dash-container aside{
    width: 28%;
}

.section-title{
    margin-bottom: 1rem;
}

.top-stats-container{
    display: flex;
    background-color: #fff;
    justify-content: space-between;
    align-content: space-between;
    flex-wrap: wrap;
}

.top-stats{
    display: flex;
    justify-content: center;
    align-content: center;
    /* margin-bottom: 1rem; */
}

.top-stats p:first-child{
    font-size: 0.9em;
}

.top-stats-img-div{
    height: 2.5rem;
    width: 2.5rem;
    border: 1px solid #990D35;
    border-radius: 50%;
    display: flex;
    justify-content: center;
    align-items: center;
    margin-right: 0.5rem;

}

.top-stats-img-div img{
    width: 60%;
}


.summary-section, .chart-container, .table-section, .report-section, .balance-section{
    background-color: #fff;
    padding: 1rem;
    margin-bottom: 1rem;
    box-shadow: rgba(50, 50, 93, 0.25) 0px 2px 5px -1px, rgba(0, 0, 0, 0.3) 0px 1px 3px -1px;
}

.reports-container{
    background-color: #fff;
    cursor: pointer;

}

.report-text{
    display: flex;
    justify-content: left;
    align-content: left;
    margin-bottom: 1rem;
}

.report-text-img-div{
    margin-right: 1rem;
    width: 1rem;
}

.report-text-img-div img{
    max-width: 100%;
}

.report-time{
    display: flex;
    justify-content: space-between;
    align-content: space-between;
}

.report-time p{
    color: #AEA4BF;
}

.report-time img{
    width: 1rem;
    margin-left: 1rem;
}

@media only screen and (max-width: 800px) {
    .dash-container{
        padding: 2rem;
        flex-direction: column;
        justify-content: center;
        align-content: center;
    }
    
    .dash-container main{
        width: 100%;
    }
    .dash-container aside{
        width: 100%;
        margin-top: 2rem;
    }

    .top-stats{
        margin-bottom: 1rem;
    }
}