.dashboard-container{
}

.dashboard-header{
    display: flex;
    justify-content: space-between;
    align-content: space-between;
    padding: 2rem 2rem;
    box-shadow: rgba(0, 0, 0, 0.12) 0px 1px 3px, rgba(0, 0, 0, 0.24) 0px 1px 2px;
}

.dashboard-container main h4{
    text-align: center;
    margin: 1rem;
}
.dashboard-header div, .dashboard-header .dash-logo{
    align-self: center;
}

.dashboard-flex{
    display: flex;
    justify-content: space-between;
    align-content: space-between;
}

.dashboard-main{
    background-color: #F2F7FF;
    padding: 2rem;
    box-shadow: 0 -1px 4px rgba(0, 0, 0, 0.25);

}

.report-section, .balance-section{
    background-color: #fff;
    padding: 1rem;
    margin-bottom: 1rem;
}

.left-flex{
    width: 68%;
}
.right-flex{
    width: 30%;
}

@media only screen and (max-width: 800px) {
    .dashboard-header{
        padding: 1.5rem 1rem;
    }
    .dashboard-flex{
        flex-direction: column;
    }

    .left-flex{
        width: 100%;
    }
    .right-flex{
        width: 100%;
    }
}

