.patients-container{
    display: flex;
    padding: 1rem 2rem;
    justify-content: space-between;
    align-content: space-between;
    background-color: #F2F7FF;

}

.patients-container section:first-child{
    width: 68%;
    margin-bottom: 1rem;

}

.patients-container section:nth-child(2){
    width: 28%;
}

/* .patients-container table{
    padding: 10rem;
    background-color: #E9F1F7;
} */


.table-div{
    overflow-x:auto;
}
.table-div tr{
    background-color: #fff;

}
.table-div tr:hover{
    background-color: #dee2e6;
    cursor: pointer;
}

.table-div th, .table-div td{
    padding: 1rem;
    text-align: left;
}

.table-div th{
    border-bottom: 0.5em solid #F2F7FF;
    margin-bottom: 1rem;
}


.balance-container{
    background-color: #fff;
    padding: 1rem;
}

.balance-container p{
    color: #AEA4BF;

}

.green-sec{
    display: flex;
    justify-content: space-between;
    align-content: space-between;
}


.red-sec{
    display: flex;
    justify-content: space-between;
    align-content: space-between;
}

.balance-sec-img-div{
    height: 2.5rem;
    width: 2.5rem;
    border: 1px solid #990D35;
    border-radius: 50%;
    display: flex;
    justify-content: center;
    align-items: center;
    margin-right: 1rem;
}

.balance-sec-img-div img{
    width: 40%;
}

.inner-flex{
    display: flex;
    align-self: center;
}

@media only screen and (max-width: 800px) {
    .patients-container{
        flex-direction: column;
        justify-content: center;
        align-content: center;
    }
    
    .patients-container section:first-child{
        width: 100%;
    }
    
    .patients-container section:nth-child(2){
        width: 100%;
        margin-top: 2rem;
    }
    /* .patients-container th, .patients-container td{
        padding: o.5rem;
        text-align: left;
    } */
}


