body {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: 'Roboto', sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  font-size: 100%;
}

code {
  font-family: 'Roboto', sans-serif;
}

div, h1, h2, h3, h4, h5, h6, p, input, button, textarea, select{
  color: #2D3047;
  font-size: 1rem;
}

@media only screen and (max-width: 800px) {
  body{
    font-size: 10%;

  }

  div, h1, h2, h3, h4, h5, h6, p, input, button, textarea, select{
    color: #2D3047;
    font-size: 1rem;
  }
}

